<div class="container-fluid">
    <h1>Set Balance</h1>

    <div class="row">
        <div class="col-xs-12 col-md-6">

            <div class="row">
                <div class="col-xs-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Storage</th>
                            <th>UAH<br>([sum])</th>
                            <th>USD<br>([sum])</th>
                            <th></th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr ng-repeat="balanceItem in vm.balance track by $index">
                            <td>{{balanceItem.source}}</td>
                            <td>{{balanceItem.UAH}}</td>
                            <td>{{balanceItem.USD}}</td>
                            <td>
                                <button type="button" class="btn-sm btn btn-default"
                                        ng-click="vm.removeItem($index)">
                                    <span class="text-danger">&times;</span>
                                </button>
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                <input type="text" class="form-control input-sm" placeholder="storage"
                                       ng-model="vm.itemToBalance.source">
                            </td>
                            <td>
                                <input type="number" class="form-control input-sm" placeholder="UAH"
                                       ng-model="vm.itemToBalance.UAH">
                            </td>
                            <td>
                                <input type="number" class="form-control input-sm" placeholder="USD"
                                       ng-model="vm.itemToBalance.USD">
                            </td>
                            <td>
                                <button type="button" class="btn-sm btn btn-success" aria-label="Add"
                                        ng-click="vm.addItemToBalance()">
                                    +
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-xs-12">
                    <button class="btn btn-success"
                            ng-click="vm.saveExpense()">
                        Save
                    </button>
                    <button class="btn btn-danger" disabled="disabled">Remove</button>
                </div>
            </div>

        </div>
    </div>
</div>