<div class="container-fluid">
    <h1>Set Balance</h1>

    <div class="row">
        <div class="col-xs-12 col-md-6">

            <div class="row">
                <div class="col-xs-12">
                    <table class="table add-data-table">
                        <thead>
                        <tr>
                            <th>
                                <span class="add-data-table__name">
                                    Storage
                                </span>
                            </th>
                            <th>
                                <span class="add-data-table__sum">
                                    Sum <small class="parentheses-wrap">UAH</small>
                                </span>
                            </th>
                            <th></th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr ng-repeat="balanceItem in vm.balance track by $index">
                            <td>
                                <span class="add-data-table__name">
                                    {{balanceItem.source}}
                                </span>
                            </td>
                            <td>
                                <span class="add-data-table__sum">
                                    {{balanceItem.UAH}}
                                </span>
                            </td>
                            <td>
                                <button type="button" class="btn-sm btn btn-default"
                                        ng-click="vm.removeItem($index)">
                                    <span class="text-danger">&times;</span>
                                </button>
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                <input type="text" class="form-control input-sm add-data-table__name" placeholder="storage"
                                       ng-model="vm.itemToBalance.source">
                            </td>
                            <td>
                                <input type="number" class="form-control input-sm add-data-table__sum" placeholder="UAH"
                                       ng-model="vm.itemToBalance.UAH">
                            </td>
                            <td>
                                <button type="button" class="btn-sm btn btn-success" aria-label="Add"
                                        ng-click="vm.addItemToBalance()">
                                    +
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-xs-12">
                    <button class="btn btn-success"
                            ng-click="vm.saveExpense()">
                        Save
                    </button>
                    <button class="btn btn-danger" disabled="disabled">Remove</button>
                </div>
            </div>

        </div>
    </div>
</div>