<div class="container-fluid">
    <h1>Jug List</h1>

    <div class="row">
        <div class="col-xs-12 col-md-6">

            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>%</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="jug in vm.jugList">
                    <td>{{jug.name}}</td>
                    <td>{{jug.percent}}</td>
                    <td>
                        <button type="button" class="btn-sm btn btn-default">
                            <span class="text-danger">&times;</span>
                        </button>
                    </td>
                </tr>

                <tr class="active">
                    <td>
                        <input type="text" class="form-control input-sm" placeholder="jug name">
                    </td>
                    <td>
                        <input type="number" class="form-control input-sm" placeholder="%">
                    </td>
                    <td>
                        <button type="button" class="btn-sm btn btn-success">
                            +
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>