@import "../../scss/variables";
@import "../../scss/mixins";

@import "../../scss/common";
@import "../../scss/style-tick-list";

.tick-fact-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 25px 10px 0 10px;

    &__container {
        display: block;
    }

    &__summary-text {
        @include plain-text;

        display: block;
        box-sizing: content-box;
        margin: 0;
        padding: 3px 0;
        font-size: 20px;

        color: $lightgrey;
    }

    &__changeable-value {
        color: $white;
    }

    &__achieved-percent {
        @include percent-value;

        display: flex;
        justify-content: center;
        align-items: center;

        box-sizing: border-box;
        height: 60px;
        width: 60px;
        margin-right: 10px;
        border: 2px solid $lightgrey;
        border-radius: 50%;
        font-size: 20px;
        color: $mintgreen;

        //&_great {
        //    color: green;
        //    border-color: green;
        //}
        //
        //&_good {
        //    color: yellowgreen;
        //    border-color: yellowgreen;
        //}
        //
        //&_poor {
        //    color: red;
        //    border-color: red;
        //}
    }
}
