<section class="main">
    <header class="tick-fact-header">

        <div class="tick-fact-header__container">
            <span class="tick-fact-header__summary-text">
                <span>Used</span>
                <span class="tick-fact-header__changeable-value">
                    {{$ctrl.tickFactData.factedValue}}
                </span>
                <span>
                     of planned
                </span>
                <span>
                    {{$ctrl.tickFactData.plannedValue}}
                </span>
            </span>
            <span class="tick-fact-header__summary-text">
                <span>left</span>
                <span class="tick-fact-header__changeable-value">
                    {{$ctrl.tickFactData.plannedValue - $ctrl.tickFactData.factedValue}}
                </span>
                <span ng-if="!$ctrl.tickFactData.prevLeftValue">
                    <span>
                         (prev left
                    </span>
                    <span>
<!--TODO - add ng-class 'class="tick-fact-header__changeable-value" if value was reduced in this tick-->
                        6767{{$ctrl.tickFactData.prevLeftValue}})
                    </span>
                </span>
            </span>
        </div>

        <div class="tick-fact-header__container">
            <span class="tick-fact-header__achieved-percent">
                {{$ctrl.tickFactData.factedPercent | roundFloor}}
            </span>
        </div>

    </header>

    <spread spread="$ctrl.commonSpread"
            use-planned-value-by-item="true"
            on-spread-item-change="$ctrl.updateFactedMenuData(summary)"
            show-progress-bar="true"></spread>
</section>

<acc-footer save="$ctrl.saveTickFact()"
            remove="$ctrl.clearTickFact()">
</acc-footer>