<section class="main">
    <section class="tick-fact-header">
        <div class="tick-fact-header__sum-container">
            <div class="tick-fact-header__sum-destination-list">
                <h3 class="tick-fact-header__sum-destination-item">To fact:</h3>

                <h3 class="tick-fact-header__sum-destination-item">Left:</h3>

                <h3 class="tick-fact-header__sum-destination-item">Prev Left:</h3>
            </div>
            <div class="tick-fact-header__sum-values-list">
                <span class="tick-fact-header__sum-value">
                    <span>
                        {{$ctrl.tickFactData.factedValue}}
                    </span>
                </span>
                <span class="tick-fact-header__sum-value">{{$ctrl.tickFactData.plannedValue - $ctrl.tickFactData.factedValue}}</span>
                <span class="tick-fact-header__sum-value">{{$ctrl.tickFactData.prevLeftValue}}</span>
            </div>
            <div class="tick-fact-header__extras-list">
                <div class="tick-fact-header__extra-item">
                    <span class="tick-fact-header__percent-value">
                        {{$ctrl.tickFactData.factedPercent}}
                    </span>
                    <span>
                         of planned: {{$ctrl.tickFactData.plannedValue}}
                    </span>
                </div>
                <div class="tick-fact-header__extra-item"></div>
                <div class="tick-fact-header__extra-item"></div>
            </div>
        </div>
    </section>

    <spread spread="$ctrl.commonSpread"
            use-planned-value-by-item="true"
            on-spread-item-change="$ctrl.updateFactedMenuData(summary)"></spread>
</section>

<acc-footer save="$ctrl.saveTickFact()"></acc-footer>