@import "../../scss/variables";
@import "../../scss/mixins";

@import "../../scss/common";
@import "../../scss/style-tick-list";

.tick-fact-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 10px 0 10px;

    &__sum-container {
        display: block;
    }

    &__sum-destination-list,
    &__sum-values-list,
    &__extras-list {
        display: block;
    }

    &__sum-destination-list {
        margin-right: 3px;
    }

    &__sum-destination-item,
    &__sum-value,
    &__extra-item {
        display: block;
        box-sizing: content-box;
        margin: 0;
        height: 1.5rem;
        padding: 3px 0;
        line-height: 1.5rem;

        @include plain-text;
    }

    &__sum-destination-item,
    &__sum-value {
        text-align: right;
    }

    &__sum-destination-item {
        color: $lightgrey;
    }

    &__sum-value {
        color: $white;
    }

    &__extra-item {
        margin-left: 5px;
        text-align: left;

        color: $lightgrey;
    }

    &__percent-value {
        display: inline;
        @include percent-value;

        color: $white;
    }



    &__summary-text {
        @include plain-text;

        display: block;
        box-sizing: content-box;
        margin: 0;
        height: 1.5rem;
        padding: 3px 0;
        line-height: 1.5rem;

        color: $lightgrey;
    }

    &__changeable-value {
        color: $white;
    }

    &__achieved-percent {
        display: flex;
        justify-content: center;
        align-items: center;

        box-sizing: border-box;
        height: 50px;
        width: 50px;
        border: 2px solid $lightgrey;
        border-radius: 50%;
        font-size: 20px;
        color: $mintgreen;

        //&_great {
        //    color: green;
        //    border-color: green;
        //}
        //
        //&_good {
        //    color: yellowgreen;
        //    border-color: yellowgreen;
        //}
        //
        //&_poor {
        //    color: red;
        //    border-color: red;
        //}
    }
}
