<div class="plan-menu">
    <h2 class="plan-menu__header">plan</h2>

    <div class="plan-menu__edit-plan-sum-panel"
         ng-class="{'plan-menu__edit-plan-sum-panel_active': $ctrl.editPanelIsActive}">
        <input type="number"
               class="plan-menu__sum-edit-value"
               ng-model="$ctrl.plannedValue" />
        <button class="plan-menu__sum-edit-confirm-btn"
                ng-click="$ctrl.closeEditPanel()">
            ok
        </button>
    </div>

    <div class="plan-menu__main"
         ng-class="{'plan-menu__main_hidden': $ctrl.editPanelIsActive}">
        <div class="plan-menu__sum-destination-list">
            <h3 class="plan-menu__sum-destination-item">To plan:</h3>
            <h3 class="plan-menu__sum-destination-item">Spread:</h3>
            <h3 class="plan-menu__sum-destination-item">Unspread:</h3>
        </div>
        <div class="plan-menu__sum-values-list">
            <span class="plan-menu__sum-value">{{$ctrl.plannedValue}}</span>
            <span class="plan-menu__sum-value">{{$ctrl.spreadValue}}</span>
            <span class="plan-menu__sum-value">{{$ctrl.unspreadValue}}</span>
        </div>
        <div class="plan-menu__extras-list">
            <div class="plan-menu__extra-item">
                <button class="plan-menu__edit-plan-sum-btn"
                        ng-click="$ctrl.openEditPanel()">edit</button>
            </div>
            <div class="plan-menu__extra-item">
                <span class="plan-menu__percent-value">{{$ctrl.spreadPercent}}</span>
            </div>
            <div class="plan-menu__extra-item">
                <span class="plan-menu__percent-value">{{$ctrl.unspreadPercent}}</span>
            </div>
        </div>

        <button class="plan-menu__spread-btn">Spread</button>
    </div>
</div>
