@import "../../../scss/mixins";
@import "../../../scss/variables";

.plan-menu {
    display: flex;
    flex-direction: row;
    padding: 30px 5px 35px 5px;

    &__main {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 0;

        flex-basis: 100%;
        box-sizing: border-box;
        overflow: visible; // to give possibility display part of letters below the main line

        &.plan-menu__main_hidden {
            margin-left: -100%;
            visibility: hidden;
        }
    }

    &__sum-destination-item {
        $area-height: $font-large * 0.75; // to prevent bottom space of line-height

        flex-grow: 1;

        display: block;
        margin: 0;
        padding: 0;

        font-size: $font-large;
        height: $area-height;
        line-height: $area-height;

        font-weight: normal;
        color: $lightgrey;
    }

    &__sum-value {
        $area-height: $font-xlarge * 0.75; // to prevent bottom space of line-height

        display: block;
        font-size: $font-xlarge;
        line-height: $area-height;
        height: $area-height;
        margin-right: 10px;
        color: $white;
    }

    &__edit-plan-sum-btn {
        @include button;

        display: block;
        width: 36px;
        height: 36px;
        padding: 0;

        background-color: transparent;
        border: none;
        box-shadow: none;
    }

    .icon-spread {
        display: block;
        width: 36px;
        height: 36px;
        background: url('../images/pages-3-48-dark.png') center no-repeat;
        background-size: 36px;

        &_small {
            width: 25px;
            height: 25px;
            background-size: 25px;
        }
    }

    &__edit-plan-sum-panel {
        //display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 0; // for animation
        overflow: hidden;
        display: none;
        padding-right: 5px;
        box-sizing: border-box;

        &.plan-menu__edit-plan-sum-panel_active {
            display: flex;
            width: 100%;
        }
    }

    &__sum-edit-value {
        display: block;
        width: 100%; // display block is not enough for inputs

        @include input-number;
        padding-top: 3px;
        margin-right: 5px;

        box-shadow: inset 0 0 3px 1px green;

        &:focus {
            box-shadow: inset 0 0 3px 1px green;
        }

        &.plan-menu__sum-edit-value_invalid,
        &.plan-menu__sum-edit-value_invalid:focus {
            box-shadow: inset 0 0 3px 1px red;
        }
    }

    &__sum-edit-confirm-btn {
        @include button;

        box-shadow: 0 0 2px 1px green;
    }

    &__percent-value {
        display: inline;
        @include percent-value;
    }
}
