<div class="plan-menu">
    <form novalidate name="$ctrl.editPanelForm"
          class="plan-menu__edit-plan-sum-panel"
         ng-class="{'plan-menu__edit-plan-sum-panel_active': $ctrl.editPanelIsActive}">
        <input type="number"
               name="plannedValue"
               class="plan-menu__sum-edit-value"
               ng-model="$ctrl.plannedValue" required
                ng-class="{'plan-menu__sum-edit-value_invalid': $ctrl.editPanelForm.plannedValue.$invalid}"/>
        <button class="plan-menu__sum-edit-confirm-btn"
                ng-click="$ctrl.closeEditPanel()">
            ok
        </button>
    </form>

    <div class="plan-menu__main"
         ng-class="{'plan-menu__main_hidden': $ctrl.editPanelIsActive}">
        <h3 class="plan-menu__sum-destination-item">To plan:</h3>
        <span class="plan-menu__sum-value">{{$ctrl.plannedValue | number:2}}</span>
        <button class="plan-menu__edit-plan-sum-btn"
                ng-click="$ctrl.openEditPanel()">
            <i class="icon-spread"></i>
        </button>
    </div>
</div>
