<div class="container-fluid">
    <h1>
        Turnover <small class="parentheses-wrap">Balance/Income</small>
    </h1>

    <div class="row">
        <div class="col-xs-12 col-md-6">

            <div class="row">
                <div class="col-xs-12">
                    <table class="table turnover">
                        <thead>
                        <tr>
                            <th class="text-center"><!--Type--></th>
                            <th class="text-center">Date</th>
                            <th>UAH<br>([sum])</th>
                            <th>USD<br>([sum])</th>
                            <th class="text-center">Jugs</th>
                        </tr>
                        </thead>

                        <tbody ng-repeat="turnoverItem in vm.turnoverData"
                               class="turnover-item"
                                ng-class="{
                                    'turnover-item_income': turnoverItem.income,
                                    'turnover-item_balance': turnoverItem.expense
                                }">
                        <tr class="turnover-item__main">
                            <td>
                                <span ng-if="turnoverItem.income">+</span>
                                <span ng-if="turnoverItem.expense">-</span>
                            </td>
                            <td class="text-center">{{turnoverItem.date | date: 'yyyy-MM-dd'}}</td>
                            <td>{{turnoverItem.turnover.UAH}}</td>
                            <td>{{turnoverItem.turnover.USD}}</td>
                            <td>
                                <!-- TODO - update this -->
                                <a ng-if="turnoverItem.jug"
                                   class="center-block btn btn-link btn-xs"
                                   href="#/{{turnoverItem.jug}}" role="button">
                                    [link]
                                </a>
                                <button ng-if="!turnoverItem.jug"
                                        class="center-block btn btn-warning btn-xs"
                                        role="button">
                                    create
                                </button>
                            </td>
                        </tr>
                        <tr class="turnover-item__balance">
                            <td colspan="2"></td>
                            <td colspan="3">Balance: {{turnoverItem.balance.USD}} USD, {{turnoverItem.balance.UAH}} UAH</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-xs-11">
                    <button class="btn btn-success"
                            ui-sref="add-income">
                        Add income
                    </button>
                    <!--<a ui-sref="add-income">-->
                    <!--<button class="btn btn-danger navbar-btn" >Button Submit</button>-->
                    <!--</a>-->
                    <button class="btn btn-success"
                            ui-sref="set-balance">
                        Set balance
                    </button>
                </div>
            </div>

        </div>

        <div class="col-xs-12 col-md-6">
            <div class="visible-md-block visible-lg-block">
                Right panel. Should be hidden in Small and eXtra Small.
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--<script src="libs/bootstrap/dist/js/bootstrap.js"></script>-->
</div>
