@import "../../scss/style-tick-list";

.spread-list {
	@include tick-list;
}

.spread-list-item {
	@include tick-list-item;

    position: relative;
    flex-wrap: wrap;

    padding-top: 10px;
    padding-bottom: 3px;

    &__jug {
        margin: 0;
    }

    &__jug-container {
        padding: 5px 5px 0;
    }

    // TODO - refactor styles: this and around
    &__percent_no-border {
        text-align: center;
        border: none;
    }
}

.spread-progress {
    position: relative;
    bottom: -4px;
    left: 0;
    right: 0;
    width: 100%;
}