<ul class="spread-list">
    <li ng-repeat="spreadItem in $ctrl.spread track by $index"
        class="spread-list-item"
            ng-class="{'spread-list-item_no-border': $ctrl.showProgressBar}">
        <div class="spread-list-item__jug-container">
            <span class="spread-list-item__jug">
                {{spreadItem.name}}
                <span class="spread-list-item__jug-percent"
                        ng-if="!$ctrl.usePlannedValueByItem">{{spreadItem.defaultPercent}}</span>
                <!-- TODO - remove this in favour to hint in the third section-->
                <span class="spread-list-item__jug-value"
                      ng-if="$ctrl.usePlannedValueByItem">planned {{spreadItem.plannedValue}}</span>
            </span>
        </div>

        <div class="spread-list-item__jug-container">
            <input type="number" class="spread-list-item__sum"
                   ng-model="spreadItem.value"
                   ng-model-options="{debounce: 400}"
                   ng-change="$ctrl.handleSpreadItemValueChange(spreadItem)">
        </div>
        <div class="spread-list-item__jug-container">
            <input type="number" class="spread-list-item__percent"
                   ng-class="{'spread-list-item__percent_no-border': $ctrl.showProgressBar}"
                   ng-model="spreadItem.percent"
                   disabled="true">
        </div>

        <div ng-if="$ctrl.showProgressBar"
                class="spread-progress">
            <div class="progress-container">
                <div class="progress"></div>
            </div>
        </div>
    </li>
</ul>