@import "../../scss/mixins";
@import "../../scss/style-tick-list";

.spread-list {
	@include tick-list;
}

.spread-list-item {
	@include tick-list-item;

    position: relative;
    flex-wrap: wrap;

    padding-top: 10px;
    padding-bottom: 3px;

    &__jug {
        margin: 0;
    }

    &__jug-container {
        padding: 5px 5px 0;

        // TODO - move centralizing into separate class
        // out of this container responsibility
        &_centered-content {
            justify-content: center;
            align-items: center;
        }
    }

    &__percent-text {
        @include percent-value;

        display: block;
        margin-right: 5px;
        color: $lightgrey;
    }

    // TODO - refactor styles: this and around
    &__percent_no-border {
        text-align: center;
        border: none;
    }
}

.spread-progress {
    position: relative;
    bottom: -4px;
    left: 0;
    right: 0;
    width: 100%;
}

// TODO - move into separate component probably
.btn {
    $common-size: 14px;
    $additional-space: 2px;
    width: $common-size;
    height: $common-size;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $darkgrey;
    //box-shadow: 0 0 0 1px #505050;
    box-sizing: content-box;
    padding: $additional-space;
}

.circle {
    display: block;
    width: 2px;
    height: 2px;
    background-color: #505050;
    border-radius: 50%;
}
// alternative variant see below

// alternative variant
.rect {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border: 1px solid #292929;
    background-color: transparent;

    & .circle {
        display: block;
        position: absolute;
        width: 2px;
        height: 2px;
        background-color: #292929;
        top: 8px;
        left: 8px;
    }

    .circle.circle_left {
        left: 3px;
    }

    .circle.circle_right {
        left: 13px;
    }
}