<ul class="spread-list">
    <li ng-repeat="spreadItem in $ctrl.spread track by $index"
        class="spread-list-item">
        <div class="spread-list-item__jug-container">
            <span class="spread-list-item__jug">
                {{spreadItem.name}}
                <span class="spread-list-item__jug-percent"
                        ng-if="!$ctrl.usePlannedValueByItem">{{spreadItem.defaultPercent}}</span>
                <!-- TODO - remove this in favour to hint in the third section-->
                <span class="spread-list-item__jug-value"
                      ng-if="$ctrl.usePlannedValueByItem">planned {{spreadItem.plannedValue}}</span>
            </span>
        </div>

        <div class="spread-list-item__jug-container">
            <input type="number" class="spread-list-item__sum"
                   ng-model="spreadItem.value"
                   ng-model-options="{debounce: 100}"
                   ng-change="$ctrl.handleSpreadItemValueChange(spreadItem)">
        </div>
        <div class="spread-list-item__jug-container"
                ng-class="{'spread-list-item__jug-container_centered-content': $ctrl.showProgressBar}">
            <input ng-if="!$ctrl.showProgressBar"
                   type="number"
                   class="spread-list-item__percent spread-list-item__percent_no-border"
                   ng-model="spreadItem.percent"
                   disabled="true">


            <div ng-if="$ctrl.showProgressBar"
                 class="spread-list-item__jug-container
                        spread-list-item__jug-container_centered-content">
                <span class="spread-list-item__percent-text">{{spreadItem.percent | roundFloor}}</span>
                <div class="btn">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
            </div>
        </div>

        <div ng-if="$ctrl.showProgressBar"
                class="spread-progress">
            <progress-bar progress="spreadItem.percent"></progress-bar>
        </div>
    </li>
</ul>