<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Expense spread</title>

    <link href="../public/libs/normalize-css/normalize.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <link href="../public/css/style.css" rel="stylesheet">

</head>
<body class="container-fluid">

<h1>Expense spread (by jugs)</h1>

<div class="row">
    <div class="col-xs-12 col-md-6">
        <label for="expense-summary">Expense summary</label>
        <div class="input-group input-group-sm">
            <span class="input-group-addon">UAH</span>
            <input type="number" id="expense-summary"
                   class="form-control" placeholder="Expense summary"
                   aria-label="Expense summary">

            <div class="input-group-btn">
                <button class="btn btn-success" type="button">Spread by</button>
            </div>
        </div>

        <small class="expense-spread__unspread-info secondary-text">Left unspread: 123.89</small>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-6">

        <div class="row">
            <div class="col-xs-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="spread-expense-jug__name">Jug</th>
                        <th class="spread-expense-jug__sum">Sum</th>
                        <th class="spread-expense-jug__percent">%<br></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr class="spread-expense-jug">
                        <td>
                            Jug 1
                            <small class="parentheses-wrap">10%</small>
                        </td>
                        <td class="spread-expense-jug__sum">
                            <input type="number"
                                   class="col-xs-6 spread-expense-jug__sum-edit spread-expense-jug__sum-edit_active form-control"
                                   placeholder="Text input"
                            value="543.67">
                        </td>
                        <td class="spread-expense-jug__percent">14.5</td>
                    </tr>
                    <tr>
                        <td>
                            Jug 2
                            <small class="parentheses-wrap">25%</small>
                        </td>
                        <td class="spread-expense-jug__sum">
                            123.45
                        </td>
                        <td class="spread-expense-jug__percent">15.6</td>
                    </tr>
                    <tr>
                        <td>
                            Jug 3
                            <small class="parentheses-wrap">47%</small>
                        </td>
                        <td class="spread-expense-jug__sum">
                            <span>123.60</span>
                        </td>
                        <td class="spread-expense-jug__percent">70</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-xs-12">
                <button class="btn btn-success">Save</button>
                <button class="btn btn-danger" disabled="disabled">Remove</button>
            </div>
        </div>

    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!--<script src="libs/bootstrap/dist/js/bootstrap.js"></script>-->
</body>
</html>
