<!DOCTYPE html>
<html lang="en" ng-app="ui.bootstrap.demo">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Header / menu</title>

    <link href="../public/libs/normalize-css/normalize.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <link href="../public/css/style.css" rel="stylesheet">

</head>
<body>

<header class="bg-success header">
    <!-- Simple dropdown -->


    <!-- Single button -->
    <div class="btn-group" uib-dropdown is-open="status.isopen">
        <button id="single-button" type="button" class="btn btn-success" uib-dropdown-toggle ng-disabled="disabled">
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <li role="menuitem"><a href="#/jug-list">Jug List</a></li>
            <li class="divider"></li>
            <li role="menuitem"><a href="#">and some more..</a></li>
        </ul>
    </div>
</header>

</body>
</html>
