<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Expense spread</title>

    <link href="../public/libs/normalize-css/normalize.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <link href="../public/css/style.css" rel="stylesheet">

</head>
<body class="container-fluid">

<h1>Turnover</h1>

<div class="row">
    <div class="col-xs-12 col-md-6">

        <div class="row">
            <div class="col-xs-12">
                <table class="table turnover">
                    <thead>
                    <tr>
                        <th class="text-center"><!--Type--></th>
                        <th class="text-center">Date</th>
                        <th>UAH<br>([sum])</th>
                        <th>USD<br>([sum])</th>
                        <th class="text-center">Jugs</th>
                        <!--<th class="text-center">Date</th>-->
                        <!--<th>Income<br/>sign</th>-->
                        <!--<th>UAH<br>([sum])</th>-->
                        <!--<th>USD<br>([sum])</th>-->
                        <!--<th class="text-center">Jugs</th>-->
                    </tr>
                    </thead>

                    <tbody class="turnover-item turnover-item_income">
                    <tr class="turnover-item__main">
                        <td class="text-center">+</td>
                        <td class="text-center">2016-05-11</td>
                        <td>123.45</td>
                        <td>768.09</td>
                        <td><a class="center-block btn btn-link btn-xs" href="#" role="button">[link]</a></td>
                    </tr>
                    <tr class="turnover-item__balance">
                        <td colspan="2"></td>
                        <td colspan="3">Balance: 543.21 USD, 90.876 UAH</td>
                    </tr>
                    </tbody>
                    <tbody class="turnover-item turnover-item_balance">
                    <tr class="turnover-item__main">
                        <td class="text-center">-</td>
                        <td class="text-center">2016-05-12</td>
                        <td>123.45</td>
                        <td>768.09</td>
                        <td><a class="center-block btn btn-link btn-xs" href="#" role="button">[link]</a></td>
                    </tr>
                    <tr class="turnover-item__balance">
                        <td colspan="2"></td>
                        <td colspan="3">Balance: -0.21 USD, 90.876 UAH</td>
                    </tr>
                    </tbody>
                    <tbody class="turnover-item turnover-item_income">
                    <tr class="turnover-item__main">
                        <td class="text-center">+</td>
                        <td class="text-center">2016-05-11</td>
                        <td>123.45</td>
                        <td>768.09</td>
                        <td>
                            <button class="center-block btn btn-warning btn-xs" href="#">create</button>
                        </td>
                    </tr>
                    <tr class="turnover-item__balance">
                        <td colspan="2"></td>
                        <td colspan="3">Balance: 543.21 USD, 90.876 UAH</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-xs-11">
                <button class="btn btn-success">Add income</button>
                <button class="btn btn-success">Set balance</button>
            </div>
        </div>

    </div>

    <div class="col-xs-12 col-md-6">
        <div class="visible-md-block visible-lg-block">
            Right panel. Should be hidden in Small and eXtra Small.
        </div>
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!--<script src="libs/bootstrap/dist/js/bootstrap.js"></script>-->
</body>
</html>