@import "../../scss/mixins";

.footer {
    display: flex;
    flex-direction: row-reverse;

    position: fixed;
    box-sizing: border-box;
    bottom: 0;
    width: 100%;
    padding: 0 15px 15px 15px;
    background-color: transparent;

    &__btn {
        @include footer-button;
        margin-left: 10px;

        &.footer__btn_add,
        &.footer__btn_save {
            background-color: green;
        }
    }
}

@mixin icon($imgPath) {
    display: block;
    width: 50px;
    height: 50px;
    background: url($imgPath) center center no-repeat;
    background-origin: border-box;
    overflow: hidden;
}

.icon-add {
    @include icon('../images/i-add.png');
}

.icon-save {
    @include icon('../images/i-save.png');
}
