@import "../../scss/mixins";
@import "../../scss/variables";

.footer-container {
    display: block;
    box-sizing: border-box;
    transition: transform 0.25s ease-in;

    &_remove-panel {
        transform: translateY(-$footer-height);
    }
}

.footer {
    position: fixed;
    bottom: 0;

    display: block;
    box-sizing: border-box;
    width: 100%;
    height: $footer-height;
    padding: 0;
    overflow: hidden;
    background-color: $darkgrey;

    .footer__panel {
        display: flex;
        justify-content: space-between;
        align-items: center;

        box-sizing: border-box;
        height: $footer-height;
        overflow: hidden;
    }

    .footer__button {
        width: 33.33333%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        background-color: transparent;
        padding: 0;
        border: none;
        cursor: pointer;
        outline: none;

        &_small {
            width: 25%;
        }

        &_half-width {
            width: 50%;
        }

        &_full-width {
            width: 100%;
        }

        &_save {
            background-color: $mintgreen;
        }
    }
}

@mixin icon($url) {
    $defaultSize: 30px;
    $largeSize: 36px;
    $smallSize: 25px;

    display: block;
    width: $defaultSize;
    height: $defaultSize;
    background: url($url) center no-repeat;
    background-size: $defaultSize;

    &_large {
        width: $largeSize;
        height: $largeSize;
        background-size: $largeSize;
    }

    &_small {
        width: $smallSize;
        height: $smallSize;
        background-size: $smallSize;
    }
}

.icon {
    &-remove {
        @include icon('../images/trash-9-48.png');
    }

    &-ok {
        @include icon('../images/checkmark-48.png');
    }

    &-forward {
        @include icon('../images/arrow-36-48.png');
    }

    &-no {
        @include icon('../images/x-mark-48.png');
    }

    &-yes {
        @include icon('../images/check-mark-48.png');
    }
}