<div class="container-fluid">
    <h1>
        Turnover <small class="parentheses-wrap">Balance/Income</small>
    </h1>

    <div class="row">
        <div class="col-xs-12 col-md-6">

            <div class="row">
                <div class="col-xs-12">
                    <table class="table turnover">
                        <thead class="turnover-header">
                        <tr>
                            <th class="turnover-item__date">Date</th>
                            <th class="turnover-item__sum">
                                Sum
                            </th>
                            <th class="turnover-item__spread">Jugs</th>
                        </tr>
                        </thead>

                        <tbody ng-repeat="turnoverItem in vm.turnoverData"
                               class="turnover-item"
                               ng-class="{
                                    'turnover-item_income': turnoverItem.income,
                                    'turnover-item_expense': turnoverItem.expense
                                }">
                        <tr class="turnover-item__main">
                            <td class="turnover-item__date">{{turnoverItem.date | date: 'yyyy-MM-dd'}}</td>
                            <td class="turnover-item__sum">{{turnoverItem.turnover.UAH | number: 2}}</td>
                            <!--<td>-->
                                <!--<span ng-if="turnoverItem.income">+</span>-->
                                <!--<span ng-if="turnoverItem.expense">-</span>-->
                            <!--</td>-->
                            <td class="turnover-item__spread">
                                <!-- TODO - update this -->
                                <a ng-if="turnoverItem.turnoverByJugs"
                                   class="center-block btn btn-link btn-xs"
                                   href="#/spread/{{turnoverItem.id}}" role="button">
                                    [link]
                                </a>
                                <button ng-if="!turnoverItem.turnoverByJugs"
                                        class="center-block btn btn-warning btn-xs"
                                        role="button">
                                    create
                                </button>
                            </td>
                        </tr>
                        <tr class="turnover-item__balance">
                            <td colspan="1"></td>
                            <td colspan="2">
                                Balance: {{turnoverItem.balance.UAH}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-xs-11">
                    <button class="btn btn-success"
                            ui-sref="add-income">
                        Add income
                    </button>
                    <button class="btn btn-success"
                            ui-sref="set-balance">
                        Set balance
                    </button>
                </div>
            </div>

        </div>

        <div class="col-xs-12 col-md-6">
            <div class="visible-md-block visible-lg-block">
                Right panel. Should be hidden in Small and eXtra Small.
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--<script src="libs/bootstrap/dist/js/bootstrap.js"></script>-->
</div>
