<section class="main">
    <section class="tick-plan-header">
        <div class="tick-plan-header__plan-container">
            <plan-menu plan-menu-data="$ctrl.tickPlanMenuData"
                       init-edit-panel-is-active="::$ctrl.isTickNew"
                       on-planned-sum-edit-end="$ctrl.handlePlannedValueChange(plannedValue)"></plan-menu>
        </div>

        <div class="tick-plan-header__fact-container">
            <h2 class="fact-menu__header">fact</h2>
            <a ng-if="::!$ctrl.isTickNew"
               class="fact-menu__facted-link"
               ui-sref="tick.fact({id: $ctrl.tickPlanData.id})">
                <span ng-if="$ctrl.tickPlanData.factedPercent">
                    Go to facted <span class="fact-menu__percent-value">{{$ctrl.tickPlanData.factedPercent}}</span> done
                </span>
                <span ng-if="!$ctrl.tickPlanData.factedPercent">
                    No facted <br> Click to add
                </span>
            </a>
            <span ng-if="::$ctrl.isTickNew"
                  class="fact-menu__no-link-text">
                To access facted save before
            </span>
        </div>
    </section>

    <ul class="tick-plan-list">
        <li ng-repeat="spreadItem in $ctrl.tickPlanData.spread track by $index"
            class="tick-plan-item">
            <div class="tick-plan-item__jug-container">
                    <span class="tick-plan-item__jug">
                        {{spreadItem.name}}
                        <span class="tick-plan-item__jug-percent">{{spreadItem.defaultPercent}}</span>
                    </span>

            </div>
            <div class="tick-plan-item__jug-container">
                <input type="number" class="tick-plan-item__sum"
                       ng-model="spreadItem.plannedValue"
                       ng-model-options="{debounce: 300}"
                       ng-change="$ctrl.handleSpreadItemValueChange(spreadItem)">
            </div>
            <div class="tick-plan-item__jug-container">
                <input type="number" class="tick-plan-item__percent"
                       ng-model="spreadItem.plannedPercent"
                       ng-model-options="{debounce: 300}"
                       ng-change="$ctrl.handleSpreadItemPercentChange(spreadItem)">
            </div>
        </li>
    </ul>
</section>

<acc-footer save="$ctrl.saveTickPlan()"></acc-footer>