@import "../../scss/variables";
@import "../../scss/mixins";

@import "../../scss/common";
@import "../../scss/style-tick-list";

.tick-plan-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 10px;
	text-align: center;

	&__plan-container {
		flex-basis: 60%;
	}

	&__fact-container {
		flex-basis: 40%;

		display: flex;
    	flex-direction: column;

		border-left: 1px solid $grey;
	}
}

.fact-menu {
	display: block;
	box-sizing: border-box;

	&__header {
		display: block;
		margin: 0;
		border-bottom: 1px solid $grey;
		padding: 0;
		@include plain-text;
        color: $lightgrey;
	}

	&__facted-link {
		display: block;
		box-sizing: content-box;
		margin: auto 0 auto 5px; // auto - flex magic to center vertically
		padding: 3px 0;
		line-height: 1.5rem;

		@include link;
		//color: $light;

		&::after {
			content: ' >>';
		}
	}

	&__percent-value {
		display: inline;
		@include percent-value;
	}

    &__no-link-text {
        @include plain-text;
        display: block;
        box-sizing: content-box;
        margin: auto 0; // auto - flex magic to center vertically
    }
}
