<section class="main">
    <plan-menu planned-value="$ctrl.tickPlanData.plannedValue"
               init-edit-panel-is-active="::$ctrl.isTickNew"
               on-planned-sum-edit-end="$ctrl.handlePlannedValueChange(plannedValue)">
    </plan-menu>

    <spread spread="$ctrl.commonSpread"
            on-spread-item-change="$ctrl.updatePlannedValue(summary)">
    </spread>
</section>

<acc-footer save="$ctrl.saveTickPlan()"
            remove="$ctrl.removeTick()"
            go="$ctrl.goToTickFact()"
            hide-remove="$ctrl.isTickNew"
            hide-go="$ctrl.isTickNew">
</acc-footer>
