@import "variables";
@import "mixins";

@mixin tick-list {
    display: block;
    margin: 10px 0 0;
    padding: 0;
    list-style-type: none;
    background-color: $dark;
}

@mixin tick-list-item {
    display: flex;
    margin-top: 0;
    border: none;
    //border-bottom: 1px solid $grey;

    &:first-child {
        margin-top: 0;
        //border-top: 1px solid $grey;
    }

    &__jug-container {
        display: flex;
        flex-basis: 33.33333%;
        flex-grow: 1;
        flex-shrink: 1;
        box-sizing: border-box;
        padding: 2px 5px 5px;
    }

    &__jug {
        margin: auto; // flex magic
        padding-top: 6px;

        color: $lightgrey;
    }

    &__jug-percent {
        @include percent-value-wrapped;
    }

    &__jug-value {
        @include parenthesis-value-wrapped;
    }

    &__sum,
    &__percent {
        display: block;
        box-sizing: border-box;
        width: 100%; // display block is not enough for inputs

        @include input-number;
    }
}
