@import "mixins";

// TODO - place into footer component.
// FIXME - place into footer component. It should be used not directly from every component as part of it's style,
// but separate 'footer' component should use it. And after definitely 'footer' component has to be used inside other
// components.
.footer {
    position: fixed;
    box-sizing: border-box;
    bottom: 0;
    width: 100%;
    height: (50px + 15px); // includes padding
    padding: 0 0 15px 15px;
    background-color: transparent;

    &__btn {
        @include footer-button;

        &.footer__btn_add,
        &.footer__btn_save {
            background-color: green;
        }

        &.footer__btn_remove {
            background-color: red;
        }

        &.footer__btn_right {
            position: absolute;
            right: 15px;
        }
    }
}

.icon-add {
    display: block;
    width: 50px;
    height: 50px;
    background: url(../images/i-add.png) center center no-repeat;
    background-origin: border-box;
    overflow: hidden;
}

.icon-save {
    display: block;
    width: 50px;
    height: 50px;
    background: url(../images/i-save.png) center center no-repeat;
    background-origin: border-box;
    overflow: hidden;
}

.icon-remove {
    display: block;
    width: 35px; // icon has usual style.
    //  At the same time cross in 50x50 squared is rotated 45 degs.
    // So its lines equal not 50/2 but 50*sqrt(2)/2 - diagonal half-length
    // So decreased size is set to compensate it and make
    // length of lines as in non-rotated cross: 50/2. (35 is approx)
     height: 35px;
    margin: 0 auto;
    background: url(../images/i-remove.png) center center no-repeat;
    background-origin: border-box;
    overflow: hidden;
    border-radius: 24px;
}
