@import "variables";

.header {
  padding: 10px;
}

.turnover { // to overweight bootstrap style
  .turnover-item {
    &.turnover-item_income {
      color: $incomeTextColor;
    }

    &.turnover-item_balance {
      color: $expenseTextColor;
    }

    &:nth-child(n + 1) {
      border-top-width: 1px;
    }

    &:last-child {
      border-bottom: 1px solid #ddd;
    }

    &__main {}
    &__main > td {
      padding-top: 5px;
      padding-bottom: 3px;
    }

    &__balance {}
    &__balance > td {
      border-top-width: 0;
      padding-top: 0;
      padding-bottom: 4px;

      font-size: 0.9em;
      color: $secondaryTextColor;
      font-style: italic;
    }
  }
}

.spread-expense-jug {
  .sum {
    .&_edited {
      color: red;
    }
  }
}

.unspread-info {
  display: block;
  padding: 5px 0 10px;
  text-align: right;
}

.parentheses-wrap {
  &::before {
    content: '(';
  }

  &::after {
    content: ')';
  }
}

.secondary-text {
  text-decoration: underline;
  color: $secondaryTextColor;
}





