<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>~Jug Craft~</title>
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="js/script.js"></script>
	<!-- set your google font. Example:
	<link href='http://fonts.googleapis.com/css?family=Neucha&subset=latin,cyrillic' rel='stylesheet' type='text/css'> -->

</head>
<body>
	<div class="main-cover"></div>
	<header class="header">
		<div class="header__menu-bar">
			<button class="header__menu-btn header-btn">
				<i class="icon-menu"></i>
			</button>
			<button class="header__help-btn header-btn">
				<i class="icon-help"></i>
			</button>
			<button class="header__achievement-page-btn header-btn">
				<i class="icon-achievement"></i>
			</button>
			
		</div>
		<button class="header__add-tick-item-btn">
			<i class="icon-add"></i>
		</button>
	</header>
	
	<article class="main">
		<ul class="tick-list">
			<li class="tick-item">
				<span class="tick-item__plan">Plan: 1234.56</span>
				<span class="tick-item__fact">Fact: 123.54
					<span class="tick-item__fact-percent">10</span>
				</span>
				<span class="tick-item__unspread">Unspread: 1234.56
				</span>
				<span class="tick-item__achievement tick-item__achievement_poor"></span>
			</li>
			<li class="tick-item">
				<span class="tick-item__plan">Plan: 1234.56</span>
				<span class="tick-item__fact">Fact: 1111.11
					<span class="tick-item__fact-percent">90</span>
				</span>
				<span class="tick-item__unspread">Unspread: 123.45
				</span>
				<span class="tick-item__achievement tick-item__achievement_good"></span>
			</li>
			<li class="tick-item">
				<span class="tick-item__plan">Plan: 1234.56</span>
				<span class="tick-item__fact">Fact: 1111.11
					<span class="tick-item__fact-percent">90</span>
				</span>
				<span class="tick-item__unspread">Unspread: 123.45
				</span>
				<span class="tick-item__achievement tick-item__achievement_great"></span>
			</li>
			<li class="tick-item">
				<span class="tick-item__plan">Plan: 1234.56</span>
				<span class="tick-item__fact">Fact: 123.54
					<span class="tick-item__fact-percent">10</span>
				</span>
				<span class="tick-item__unspread">Unspread: 1234.56
				</span>
				<span class="tick-item__achievement tick-item__achievement_poor"></span>
			</li>
			<li class="tick-item">
				<span class="tick-item__plan">Plan: 1234.56</span>
				<span class="tick-item__fact">Fact: 1358.10
					<span class="tick-item__fact-percent">110</span>
				</span>
				<span class="tick-item__unspread tick-item__unspread_no-unspread">0.00</span>
				<span class="tick-item__achievement tick-item__achievement_balancer"></span>
				<span class="tick-item__achievement tick-item__achievement_good"></span>
			</li>
			<li class="tick-item">
				<span class="tick-item__plan">Plan: 1234.56</span>
				<span class="tick-item__fact">Fact: 123.54
					<span class="tick-item__fact-percent">10</span>
				</span>
				<span class="tick-item__unspread">Unspread: 1234.56
				</span>
			</li>
		</ul>
	</article>

</body>
</html>
