@import "../../scss/mixins";
@import "../../scss/style-tick-list";
@import "../../scss/variables";

.tick-list {
    @include tick-list;

    margin-top: 25px;
}

.tick-item {
    @include tick-list-item;

    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: flex-start;

    padding: 10px 0 7px 5px;
    border-bottom: none;
    transition: background-color $transition-quick linear;

    &:first-child {
        border-top: none;
    }

    &:hover,
    &:active {
        background-color: $grey;
    }

    &:hover {
        cursor: pointer;
    }

    &__achieved-percent {
        flex-shrink: 1;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        box-sizing: border-box;
        height: 50px;
        width: 50px;
        border: 2px solid $lightgrey;
        border-radius: 50%;
        font-size: $font-large;
        color: $mintgreen;

        &_great {
            color: green;
            border-color: green;
        }

        &_good {
            color: yellowgreen;
            border-color: yellowgreen;
        }

        &_poor {
            color: red;
            border-color: red;
        }
    }

    &__container {
        flex-shrink: 1;

        display: block;
        margin: 0 0 0 10px;
    }

    &__sum-container {
        display: block;
        margin: 0;
        padding: 0;
    }

    &__date-container {
        display: block;
        margin-top: 10px;
        padding: 0;
    }

    &__text {
        font-size: $font-large;
        line-height: $font-large;
        font-weight: normal;

        color: $white;

        &_small {
            font-size: $font-small;
            line-height: $font-small;

            color: $lightgrey;
        }
    }

    &__medal-box {
        flex-shrink: 1;
        align-self: flex-start;

        display: block;
        min-width: 80px;
        min-height: 50px;
        height: 100%;
    }
}

.medal-list {
    display: flex;
    flex-direction: row-reverse;
    list-style-type: none;
    margin: 0;
    padding: 0;

    &__item {
        display: inline-block;
        margin-left: 5px;
    }
}

.icon-medal {
    display: block;
    height: 35px; // drives image size
    width: 23px; // to fit the driver
    margin: 0;
    background: url(../images/i-achievement.png) -6px 0 no-repeat;
    background-size: cover;
    background-origin: border-box;

    &.icon-medal_balancer {
        background-image: url(../images/i-achievement-balancer.png);
    }

    &.icon-medal_gold {
        background-image: url(../images/i-achievement-gold.png);
    }
}

.tick-desk__btn-add {
    position: fixed;
    box-sizing: border-box;
    bottom: 20px;
    right: 15px;

    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: none;
    padding: 0;
    outline: none;
    background-color: transparent;

    &:hover {
        box-shadow: inset 0 0 10px 1px $black;
    }

    &:active {
        box-shadow: inset 0 0 15px 2px $black;
    }
}

@mixin icon($imgPath) {
    display: block;
    width: 50px;
    height: 50px;
    background: url($imgPath) center center no-repeat;
    background-origin: border-box;
    overflow: hidden;
}

.icon-add {
    //@include icon('../images/add-row-48.png');
    @include icon('../images/add-48.png');
}