<article class="main">
    <ul class="tick-list">
        <li ng-repeat="tick in $ctrl.tickDeskData"
            ui-sref="tick-plan({id: tick.id})"
            class="tick-item">
            <span class="tick-item__achieved-percent"
                        ng-class="'tick-item__achieved-percent_' + tick.tickStatus">
					{{tick.factedPercent | roundFloor}}%
				</span>

            <div class="tick-item__container">
                <div class="tick-item__sum-container">
                    <div class="tick-item__text">
                        {{tick.factedValue}} of {{tick.plannedValue}}
                    </div>

                    <div class="tick-item__text_small">
                        left {{tick.unfactedValue}}
                    </div>
                </div>

                <div class="tick-item__date-container">
                    <div class="tick-item__text_small">
                        plan {{tick.plannedDate | date:'d MMM yy'}} - fact {{tick.factedDate | date:'d MMM yy'}}
                    </div>
                </div>
            </div>

            <ul class="tick-item__medal-box medal-list">
                <li ng-repeat="medal in tick.medals"
                    class="medal-list__item">
                    <i class="icon-medal"
                            ng-class="'icon-medal_' + medal.icon"></i>
                </li>
            </ul>
        </li>
    </ul>
</article>

<button class="tick-desk__btn-add"
        ng-click="$ctrl.addTick()">
    <i class="icon-add"></i>
</button>