<article class="main">
    <ul class="tick-list">
        <li ng-repeat="tick in $ctrl.tickDeskData"
            ui-sref="tick.plan({id: tick.id})"
            class="tick-item">
				<span class="tick-item__achieved-percent"
                        ng-class="'tick-item__achieved-percent_' + tick.tickStatus">
					{{tick.factedPercent}}%
				</span>

            <div class="tick-item__container">
                <div class="tick-item__sum-container">
                    <div class="tick-item__container">
							<span class="tick-item__text">
								of
							</span>
							<span class="tick-item__planned-sum">
								{{tick.plannedValue}}
							</span>
                    </div>

                    <div class="tick-item__container">
							<span class="tick-item__text">
								Unfacted:
							</span>
							<span class="tick-item__unfacted-sum">
								 {{tick.unfactedValue}}
							</span>
                    </div>
                </div>

                <div class="tick-item__date-container">
                    <span class="tick-item__date-text">plan</span>
                    <span class="tick-item__date-value">{{tick.plannedDate | date:'dd.MM.yyyy'}}</span>
                    <span class="tick-item__date-text">-</span>
                    <span class="tick-item__date-text">fact</span>
                    <span class="tick-item__date-value">{{tick.factedDate | date}}</span>
                </div>
            </div>

            <ul class="tick-item__medal-box medal-list">
                <li ng-repeat="medal in tick.medals"
                    class="medal-list__item">
                    <i class="icon-medal"
                            ng-class="'icon-medal_' + medal.icon"></i>
                </li>
            </ul>
        </li>
    </ul>
</article>

<acc-footer add="$ctrl.addTick()"></acc-footer>